*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.ubuntu-light {
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-weight: 700;
    font-style: italic;
  }

/* Para ordenadores y portátiles*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Para dispositivos móviles*/
@media screen and (width<=768px){
    [class*="col-"]{
        width:100%;
    }
    .row{
        flex-direction: column;
    }
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    height: 100vh;
    background-color: #333333;
    flex-direction: column;
}
.ebook{
    margin-top: 350px;
}
.row-centrado{
    margin: auto;
}
.espacio-xy{
    padding: 100px;
}
.h1-header{
    font-size: 48px;
}
.texto-1{
    font-size: 20px;
    opacity: 0.6;
}
.h1-header, .texto-1{
    color: white;
}
.boton{
    background-color: #3EAF63;
    padding: 20px 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-radius: 25px;
    color: white;
    border: none;
}

.margin{
  margin: auto;
}
.h2-negro{
  font-size: 36px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
}

.texto-2,.texto-3{
  color: #787777;
}

.texto-2,.h3-negro{
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.h3-negro{
  color: black;
}

.espacio-xy-25{
  padding: 25px;
}

.texto-3{
  font-size: 15px;
}
.section1{
  margin-top: 200px;
}
.texto-centrado{
  text-align: center;
}
.color-gris{
  border: none;
  border: 1px solid rgb(176,175,175);
}
.row-columna{
  flex-direction: column;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.efecto:hover{
  transform: translate(05px);
}

.color-gris-menos{
  background-color: #f1f1f1;
}
.alto-600{
  height: 600px;
}
.ajuste{
  overflow: hidden;
}

.img-autor{
  max-height:600px;
  text-align: center;
  
}